
* {
  font-family: 'Roboto Slab', serif;
  /* outline: 1px solid green; */
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

body{
    width:100%;
}

.header{
    width:100%;
    background-color: rgba(255, 255, 255, 0.973);
    color:rgb(43, 42, 42);
    padding:20px;
    width:100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.header h3{
    padding-top: 8px;
}

.nav_bar{
    float:right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color:rgb(43, 42, 42);
    text-align: center;
    padding: 10px 16px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 18px;
    transition:.3s;
}

li a:hover:not(.active) {
    background-color: rgb(236, 235, 235);
}

.active {
    background-color: rgb(87, 135, 190);
}

.central_container{
    width:100%;
    height:630px;
    background-color: rgb(41, 41, 41);
    padding-top: 100px;
}

.central_text{
    padding:30px 200px 60px 200px;
    height:200px;
}

.central_text h3{
    color:rgb(247, 247, 247);
    font-size: 40px;
    text-align: center;
}

.central_text p{
    color:rgb(247, 247, 247);
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}

.central_input{
    width:600px;
    height:120px;
    display:block;
    margin:auto;
    border-radius: 4px;
    border:none;
    outline:none;
    box-shadow: 0px 0px 100px rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    color:rgb(43, 42, 42);
}

.book1_img{
    position: relative;
    width:100px;
}

.start_button{
    display:block;
    width:300px;
    height:50px;
    margin:80px auto 40px auto;
    background-color: rgb(87, 135, 190);
    color:white;
    border:none;
    border-radius: 30px;
    outline:none;
    font-size: 20px;
    transition: .5s;
}

.start_button:hover{
    background-color:  rgb(84, 167, 116);
}

.info_container{
    background-color: rgb(84, 167, 116);
    width:100%;
    height:610px;
    padding-top: 100px;
}

.main_info_text{
    color:white;
    width:50%;
    margin:auto;
}

.main_info_text h1{
    text-align: center;
    margin-bottom: 60px;  
}

.main_info_text p{
   padding:16px; 
   font-size: 18px;
}

.footer{
    background-color: rgba(255, 255, 255, 0.87);
    color:rgb(36, 36, 36);
    padding:30px;
    width:100%;
    text-align: center;
}