*{
    font-family: 'Roboto Slab', serif;
    /* outline: 1px solid green; */
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color:rgb(43, 42, 42);
    /* outline: 1px solid gold; */
}

html{
    height:100%;
}

body{
    width:100%;
    height:100%;
    background-color:rgb(201, 201, 201);
}

/* <<-------------------Header------------------->>*/
.header{
    width:100%;
    background-color: rgba(255, 255, 255, 0.973);
    color:rgb(43, 42, 42);
    padding:20px;
    width:100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
}

.header h3{
    padding-top: 8px;
}

.nav_bar{
    float:right;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color:rgb(43, 42, 42);
    text-align: center;
    padding: 10px 16px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 18px;
    transition:.3s;
}

.header li a:hover:not(.active) {
    background-color: rgb(236, 235, 235);
}

.active {
    background-color: rgb(87, 135, 190);
}


/* <<------------------Container------------------>>*/

.main_container{
    width:94%;
    height:100%;
    margin:100px auto;
}

/* <<---------------User History--------------->>*/

.storyselect_tile{
    width:100%;
    min-height:300px;
    margin:20px auto;
    border-radius: 2px;
    display: flex;
    justify-content: space-evenly;
}

.selection_tile{
    width:90%;
    min-height:800px;
    margin:25px 0px;
    background-color: white;
    border-radius: 2px;
}

.selection_tile > h1{
    text-align: center;
    background-color:rgb(53, 88, 128);
    width:100%;
    padding:15px 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color:rgba(255, 255, 255, 0.87);
}

.selector{
    width:80%;
    min-height:220px;
    margin:40px auto;
    padding-bottom: 10px;
    border-radius: 2px;
    box-shadow: 0px 0px 40px rgb(153, 153, 153);
}

.selector h1{
    text-align: center;
    font-size: 24px;
    width:100%;
    padding:15px 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color:rgba(255, 255, 255, 0.87);
}

.button_contain{
    width:100%;
    flex-flow: row nowrap;
    justify-content: center;
    display:flex;
    margin: 25px auto;
}

.group{
    background-color:rgb(40, 133, 79);
}

.size{
    background-color:rgb(40, 96, 133);
}

.genre{
    background-color:rgb(204, 112, 58);
}

.genre_box_contain{
    display:flex;
    justify-content: space-evenly;
    padding:0 20px;
}

.genre_box{
    height:80px;
    width:300px;
    margin: 30px 5px 20px 5px;
    border-radius: 10px;
    border: 2px solid grey;
    border-radius: 3px;
    text-align: center;
    line-height: 80px;
}

.genre_box:hover{
  background-color: rgb(200, 210, 255);
  border: 2px solid white;
}

.genre_box h2{
    text-align: center;
    padding-top: 30px;
    font-weight: 100;
    font-size: 18px;
}


.button{
    border: 2px solid grey;
    border-radius: 3px;
    height:80px;
    width:20%;
    font-size: 16px;
    margin:15px 1%;
    font-weight: 600;
    transition: .3s;
    text-align: center;
    line-height: 80px;
}

.button:hover{
  background-color: rgb(200, 210, 255);
  border: 2px solid white;
}

.test {
  opacity: 0;
  position: absolute;
}

.test:checked + label {
  color: white;
  background-color: rgb(132, 157, 190);
  border: 2px solid white;
}


.submit_button{
    display:block;
    width:65%;
    height:60px;
    margin:50px auto 60px auto;
    background-color: rgb(82, 156, 109);
    color:white;
    border:none;
    border-radius: 30px;
    outline:none;
    font-size: 18px;
    transition: all 0.3s ease 0s;

}
.submit_button:hover{
    background-color:  rgb(77, 56, 80);
}
