<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% load static %}
  <!--Main CSS Styling-->
  <link rel="stylesheet" type="text/css" media="screen" href= "{% static 'our_stories/css/explore.css' %}" />
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

  <title>Stories to Share | Explore</title>
</head>
<body>

  <!--Header-->
  <div class="header">
    <h3>Stories to Share</h3>

    <div class="nav_bar">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/write">Write</a></li>
        <li><a href="/explore">Explore</a></li>
        {% if request.session.id %}
          <li><a href="/profile/{{request.session.id}}">Profile</a></li>
        {% endif %}
        {% if request.session.id %}
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>

    </div>
  </div>


  <!--Main-->
  <div class="main">

    <!--Container for -->
    <div class="central_container">
        <div class="timeline_tile">
            <h1>Explore</h1>

            {% for i in all_stories %}
            <div class="story_explore">
                <h1>Story id: {{i.id}}</h1>
            </div>

            {% endfor %}
        </div>
    </div>

  </div>

</body>
</html>
