<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% load static %}
  <!--Main CSS Styling-->
  <link rel="stylesheet" type="text/css" media="screen" href= "{% static 'our_stories/css/home.css' %}" />
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

  <title>Stories to Share</title>
</head>
<body>

  <!--Header-->
  <div class="header">
    <h3>Stories to Share</h3>

    <div class="nav_bar">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/write">Write</a></li>
        <li><a href="/explore">Explore</a></li>
        {% if request.session.id %}
          <li><a href="/profile/{{request.session.id}}">Profile</a></li>
        {% endif %}
        {% if request.session.id %}
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>

    </div>
  </div>


  <!--Main-->
  <div class="main">

    <!--Container for -->
    <div class="central_container">
      <div class="central_text">
        <h3>Grab a friend, share a story.</h3>
        <p>The most wondrous stories, begin with a single sentence.</p>
      </div>



      <div class=>
        <input class="central_input" type="text" placeholder="Go on, try out your first sentence...">
        <button class="start_button"> New Story!</button>
      </div>
    </div>

    <div class="info_container">
      <div class="main_info_text">
        <h1>How to become a story writing master!</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis earum, nesciunt illum reprehenderit dolorum vel velit distinctio nihil quaerat aliquam aperiam doloribus magnam ut sint porro blanditiis mollitia delectus pariatur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quibusdam fugiat non esse laborum ipsam saepe ex quo quos id quasi, est omnis ratione officiis. Doloremque, ipsum! Placeat, voluptatum amet.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa numquam accusamus, molestiae asperiores excepturi facilis temporibus quisquam aut saepe natus itaque cupiditate deserunt ipsa, quos suscipit exercitationem assumenda distinctio omnis.</p>
      </div>
    </div>

  </div>


  <!--Footer-->
  <div class="footer">
    <h3>Footer</h3>
  </div>

</body>
</html>
