<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% load static %}
  <!--Main CSS Styling-->
  <link rel="stylesheet" type="text/css" media="screen" href= "{% static 'our_stories/css/home.css' %}" />
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

  <title>Stories to Share | Home</title>
</head>
<body>

  <!--Header-->
  <div class="header">
    <h3>Stories to Share</h3>

    <div class="nav_bar">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/write">Write</a></li>
        <li><a href="/explore">Explore</a></li>
        {% if request.session.id %}
          <li><a href="/profile/{{request.session.id}}">Profile</a></li>
        {% endif %}
        {% if request.session.id %}
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>

    </div>
  </div>


  <!--Main-->
  <div class="main">

    <!--Container for -->
    <div class="central_container">
      <div class="central_text">
        <h3>Grab a friend, share a story.</h3>
        <p>The most wondrous stories, begin with a single sentence.</p>
      </div>



      <div class=>
        <form action="write">
          {% csrf_token %}
        <input class="central_input" type="text" placeholder="Go on, try out your first sentence...">
        <button class="start_button"> New Story!</button>
        </form>
      </div>
    </div>

    <div class="info_container">
      <div class="main_info_text">
        <h1>How to become a story writing master!</h1>
        <p>Stories to Share is a multiplayer writing game where you can collaborate with other writers to create new and exciting stories, one line at a time! </p>
        <p>You get to choose how many players you would like to write with, how long you want your story to be, and what genre you would like to write in. Once you've chosen the rules, you will be taken to a writing page that looks much like the one above!</p>
        <p>Then, the rules are simple. If you are the player that started the game, you get to write the first seentence. Once you submit it, the sentence will be given to the other player, who will write the next sentence to the story. No peeking though! You won't be able to see the entire story until you have reached the story length. Once you are done, you can see the amazing, spectacular creation you and your co-writers have created. Enjoy!.</p>
      </div>
    </div>
    
  </div>


  <!--Footer-->
  <div class="footer">
    <h3>Footer</h3>
  </div>

</body>
</html>
