<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WishList Member Login and Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!--Main CSS Styling-->
    <link rel="stylesheet" type="text/css" media="screen" href= "{% static 'our_stories/css/login.css' %}" />
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
</head>

<body>

    <!--Header-->
  <div class="header">
        <h3>Stories to Share</h3>

        <div class="nav_bar">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/write">Write</a></li>
            <li><a href="/explore">Explore</a></li>
            {% if request.session.id %}
              <li><a href="/profile/{{request.session.id}}">Profile</a></li>
            {% endif %}
            {% if request.session.id %}
              <li><a href="/logout">Logout</a></li>
            {% else %}
              <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>

        </div>
    </div>

    <div class="central_container">


    <!-----------New User Registration----------->

        <div class="form_contain">
            <h3>Not a member? Register here.</h3>



            <!---------Registration Form--------->
            <form action="/create" method="post">
                {% csrf_token %}
                <input type="text" name='email'
                placeholder="Enter email">
                <input type="text" name='username'
                placeholder="Enter username">
                <input type="password" name='password' placeholder="Password">
                <input type="password" name='confirm_password' placeholder="Confirm Password">
                <input class="submit_button" type="submit" value = 'Create account'>
            </form>

            <p>or</p>

            <input class="facebook_button" type="submit" value = 'Register with Facebook'>
        </div>


    <!-----------User Login----------->
        <div class="form_contain login_contain">

                <h3>Member Login</h3>

                <!---------Login Form--------->
                <form action="/process_login" method="post">
                    {% csrf_token %}
                    <input type="text" name='username'
                    placeholder="Username">

                    <input type="password" name='password' placeholder="Password">

                    <input class="submit_button" type="submit" value = 'Login'>
                </form>
                    <p>or</p>
                <input class="facebook_button" type="submit" value = 'Login using Facebook'>
         </div>



    </div>

</body>
</html>
