<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Writer's Word | Write Select</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'our_stories/css/write_picker.css' %}"/>
    <script src="main.js"></script>
</head>
<body>

    <!----------------------HEADER----------------------->
        <!--The header will let you navigate to different pages on the site-->

        <div class="header">

            <h3>Stories to Share</h3>

                <div class="nav_bar">
                  <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/write">Write</a></li>
                    <li><a href="/explore">Explore</a></li>
                    {% if request.session.id %}
                      <li><a href="/profile/{{request.session.id}}">Profile</a></li>
                    {% endif %}
                    {% if request.session.id %}
                      <li><a href="/logout">Logout</a></li>
                    {% else %}
                      <li><a href="/login">Login</a></li>
                    {% endif %}
                  </ul>

                </div>

        </div>


    <div class="main_container">

        <div class="storyselect_tile">

            <div class="selection_tile">
                <h1>Write Select</h1>

                <div class="selector">
                    <h1 class="group">Group Size</h1>

                    <div class="button_contain">
                        <!-- ONE PLAYER -->
                        <input type="radio" name="group" value="solo" id="solo" class="test">
                        <label for="solo" class="button">
                          Solo
                        </label>
                        <!-- TWO PLAYERS -->
                        <input type="radio" name="group" value="solo" id="two" class="test">
                        <label for="two" class="button">2 Writers</label>
                        <!-- FOUR PLAYERS -->
                        <input type="radio" name="group" value="solo" id="four" class="test">
                        <label for="four" class="button">4 Writers</label>
                        <!-- MANY PLAYERS -->
                        <input type="radio" name="group" value="solo" id="many" class="test">
                        <label for="many" class="button">8+ Writers</label>

                    </div>
                </div>

                <div class="selector">
                    <h1 class="size">Story Size</h1>
                    <div class="button_contain">

                        <label for="tiny" class="button">Really Short (20 words)</label>
                        <label for="short" class="button">Short (500 words)</label>
                        <label for="long" class="button">Long (1000 words)</label>
                        <label for="novel" class="button">Novel! (1000+ words)</label>

                    </div>

                </div>

                <div class="selector">

                        <h1 class="genre">Story Genre</h1>
                    <div class="genre_box_contain">
                        <div class="genre_box">
                            <h2>Fiction</h2>
                        </div>
                        <div class="genre_box">
                            <h2>Sci-Fi</h2>
                        </div>
                        <div class="genre_box">
                            <h2>Fantasy</h2>
                        </div>
                        <div class="genre_box">
                            <h2>Poetry</h2>
                        </div>
                    </div>
                    <div class="genre_box_contain">
                        <div class="genre_box">
                            <h2>Mystery</h2>
                        </div>
                        <div class="genre_box">
                            <h2>Supernatural</h2>
                        </div>
                        <div class="genre_box">
                            <h2>Horror</h2>
                        </div>
                        <div class="genre_box">
                            <h2>Random!</h2>
                        </div>

                </div>


                <form action="/write_process" method="post">
                    {% csrf_token %}
                    <input class="submit_button" type="submit" value = 'Start Writing!'>

                </form>

            <!--END OF SELECT TILE-->
            </div>





        <!--END OF STORY SELECT TILE-->
        </div>
    <!--END OF MAIN CONTAINER-->
    </div>




</body>
</html>
